.app__header {
  background-color: white;
  padding: 10px;
  height: 35px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__headerImg {
  cursor: pointer;
  object-fit: contain;
}

.iconButtons {
   cursor: pointer;
}

.rightColumn {
   display: flex;
}
.profileAvatar {
   height: 24px !important;
   width: 24px !important;
   margin-right: 8px;
   cursor: pointer;
}