.app__profile {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
}

.profile__head {
    display: flex;
    margin-top: 24px;
    align-items: center;
    width: 50%;
}

.avatar__profilepic {
    height: 120px !important;
    width: 120px !important;
    margin-right:  30px;
}

.profile__divider {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    border-top: 1px solid lightgray;
}

.thumbnail__container {
    position: relative;
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.thumbnail__image {
    position: absolute;
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.thumbnail__hoverhide {
    display: none;
}

.thumbnail__hovershow {
    position: absolute;
    display: block;
    height: 200px;
    width: 200px;
    background-color: black;
    opacity: 0.5;
    color: white;
    z-index: 2;
}

.thumbnail__like {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    width: 200px;
    z-index: 3; 
    color: white;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}